@charset "utf-8";

a.a_footer {
	color: #666;
}
a.a_footer:hover {
	color: #000;
}
#footlet {
	position:absolute;
	width:100%;
	height:60px;
	z-index:9;
	left: 0;
	/*background-color: #AFB6B6;*/
	background-color: #C5C9C9;
	bottom: 0px;
	color: #666;
	text-align: center;
	vertical-align: middle;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #EAEAEA;
}
#foot {
	padding-top: 5px;
	padding-bottom: 3px;
	text-align: center;
}
.footercontract .a_footer img {
	background-position: bottom;
	background-image: url("../images/SAB_aol.png");
}

.footercontract .a_footer img:hover {
	background-image: url("../images/SAB_aol.png");
}
