@charset "utf-8";
#qr_title {
	position:relative;
	width:180px;
	height:235px;
	z-index:1;
	top: 5px;
	right: 5px;
	float: right;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	border: 3px double #333;
	margin-bottom: 5px;
	margin-left: 13px;
}
#wandm #qr_title p {
	font-style: italic;
	color: #666;
	text-align: center;
	margin-right: 5px;
	padding-right: 15px;
}
#QR {
	margin-top: 5px;
	margin-right: auto;
	margin-left: auto;

}
#wandm .article_sec .awords.light .atitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
}
